@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;

}

/* header section start here  */
.container {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3rem;
    padding: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.navimg {

    grid-column: 3 / 3;
}

.navh2 {


    grid-column: 4 / 4;

    font-size: 3rem;
    position: relative;
    right: 50px;
    font-family: 'Work Sans', sans-serif;

}

.navh2 span {
    color: #FF42A5;

}

ul {

    display: flex;
    grid-gap: 1rem;
    padding: 50px;
    cursor: pointer;

}



.ulbar {
    display: flex;
    grid-gap: 2rem;
    grid-column: 9 / 13;
    justify-content: space-between;
    line-height: normal;
    gap: 4rem;
    align-items: center;
    align-content: center;
}


.ulbar li {

    list-style-type: none;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    padding-top: 10px;


}





.ulbar .btn {

    font-size: 1.1rem;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 10px 30px;
    cursor: pointer;


}

.ulbar .fa-brands {

    padding: 0 0.3rem;


}


/* Header section end here  */


/* section one start here  */

.vector {

    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.vectorone {
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    display: grid;
    grid-column: 1 / 1;
    align-items: center;
    justify-content: center;
    align-content: center;


}


.vectortwo {
    grid-column-start: 2;
}

.vech3 {

    font-size: 3rem;
    text-transform: uppercase;


}

.vechh1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 6rem;
    color: #D44DC6;
    font-weight: 900 !important;

}

.vectorone p {
    line-height: 1.3rem;
}




.vectorone .btn1 {
    margin-top: 1.2rem;
    line-height: 1rem;
    padding: 1.2rem 2.5rem;
    border-radius: 0.8rem;
    border: none;
    background: #FF42A5;
    color: #fff;

    cursor: pointer;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}


.vectorone .btn2 {
    position: relative;
    left: 12px;
    margin-top: 1.2rem;
    line-height: 1rem;
    padding: 1.2rem 2.5rem;

    border-radius: 0.8rem;
    border: none;
    background: #4EC5F7;
    color: #fff;

    cursor: pointer;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}


/* section one end here */

/* setction two start here  */

.second-container {

    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    margin: 1px auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);


}

.mark-one {
    position: relative;
    left: 100px;



}

.mark-two {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    justify-content: right;
    right: 150px;


}

.mark-two h2 {
    position: relative;
    top: 50px;
    color: #C550CF;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mark-two p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.mark-two .knowmore {


    height: 60px;
    width: 200px;
    padding: 1.2rem 2.5rem;
    border-radius: 1rem;
    border: none;
    background: #FF42A5;
    color: #fff;

    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: center;
    position: relative;
    left: 300px;

    bottom: 20px;
    text-transform: uppercase;
}

.mark-two h5 {
    position: relative;
    bottom: 40px;
    text-align: right;
    font-size: 1rem;


}

.mark-two h3 {
    position: relative;
    bottom: 60px;
    text-align: right;
    font-size: 1rem;

}

/* section two end here */

/* Main section start here  */

.main-container {

    margin: 50px auto;
    text-align: center;


}

.main-container h1 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.main-container span {

    color: #D64EC6;
}

.main-container p {

    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin: 1.5rem auto;

}

.main-container img {

    padding: 12px;
}

.fourimg {

    display: flex;
    justify-content: center;
    text-align: center;
}

.fourimg h6 {

    font-size: 0.8rem;
}

/* Main section end here  */


/* Play One Start Here  */

.play-title {
     display: flex;
     flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding-top: -100px;
    padding-left: 400px;

}

.play-title h2 {
    text-align: left;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
    
}



.play-title span {
    color: #E94ABB;
}

.play-title p {
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    /* 166.667% */
    padding-left: 0px;
}


.play-one {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin: 80px auto;
    margin-bottom: -200px;

}

.play-img .smimg {
    display: grid;
    position: relative;
    bottom: 250px;
    right: 120px;
}

.play-img .bgimg {
    display: grid;
    grid-column: 2 / 2;
    grid-row-start: 1 / 1;
    position: relative;

}


/* Play One End here  */

/* Play two start here  */


.play-two {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin-bottom: -200px;
}

.playtwo-img {
    display: grid;
    justify-content: right;
    position: relative;
}

.playtwo-img .smmimg {
    position: relative;
    top: -300px;
    left: 500px;
}

.playtwo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 400px;

}

.playtwo-title h2 {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
    color: #0B0223;
    font-family: Work Sans;
    text-align: left;
    font-weight: 700;
    line-height: 60px;
}

.playtwo-title h2 span {
    color: #E94ABB;
}

.playtwo-title p {
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    text-align: left;
    padding-left: 50px;
}


/* Play two end here  */




/* asid section start here  */


.child-container {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}


.title-ev {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: right;
  align-content: center;
  padding: 200px;
  
}
.title-ev h2 {
    color: #FFF;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
padding-bottom: 20px ;
}

.title-ev p {
    color: #FFF;
font-family: Work Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding-bottom: 20px ;
}


.title-ev h6 {
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 200% */
}

.title-ev .whitebtn {
    width: 170px;
    height: 50px;
    margin-top: 1.2rem;
    line-height: 1rem;
    padding: 10px 2px;
    border-radius: 0.8rem;
    
    border: 200px;
    background: #FFF;
    color: #FF42A5;

    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    position: relative;
    text-transform: uppercase;



}

/* Footer section  start here  */

.footermain {
    justify-content: center;
    background-color: #0B0223;
    position: relative;

}

.footerone {

    display: flex;
    padding: 60px;
    color: #fff;
    justify-content: center;
    position: relative;
}


.footerh1 span {
    color: #FF42A5;
    padding-left: 0.8rem;
    font-weight: 800;
}

.footermain .ulone {

    color: #fff;
    justify-content: center;
    list-style-type: none;
    position: relative;
    top: -50px;
    gap: 2rem;
}

.footermain .ultwo {
    font-size: 2rem;
    color: #fff;
    justify-content: center;
    list-style-type: none;
    position: relative;
    top: -80px;
    gap: 1.5rem;
}

.footermain .ulthree {

    color: #797486;
    font-size: 0.8rem;
    justify-content: center;
    list-style-type: none;
    position: relative;
    gap: 2rem;
    top: -120px;

}

.footermain p {
    display: flex;
    color: #797486;
    font-size: 0.8rem;
    justify-content: center;
    list-style-type: none;
    position: relative;
    gap: 2rem;
    top: -120px;

}

/* Footer section end here  */